// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slider-range{width:200px; margin-top:10px; float:left;}
#filter{float:left; width:200px; border:1px solid #efefef; padding:10px;}
#content{float:left; width:300px; padding:10px;}
#results{float:left; width:300px; padding:10px;}